<!--The content below is only a placeholder and can be replaced.-->
 
    <header>
      <input type="checkbox" id="btn-menu">
      <label for=btn-menu><img src="icono-menu.png" alt=""></label>
      <nav class="menu">        
        <ul>
          <li><a >Buenos dias, Miguel</a></li>
          <li><a href="">Perfil</a></li>
          <li><a href="">Alertas</a></li>
          <li><a href="">Salida Segura</a></li>


        </ul>


      </nav>
    </header>
    


  
  

<router-outlet></router-outlet>
